<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-gray" >
                    <div class="row">
                        <div class="col-12">
                            <span class="letra-cabecera">Listado de Proyectos</span>
                        </div>
                    </div>
                
                        <div class="row mt-4">

                            <div class="col-12 text-right">
                                <mat-form-field class="w-25" appearance="outline">
                                    <mat-label>Buscar por nombre de proyecto:</mat-label>
                                    <input name="proyecto" autocomplete="off" matInput (keyup)="buscar(txtTermino.value)" #txtTermino >
                                </mat-form-field>

                                <mat-form-field class="w-25 ml-4" appearance="outline">
                                    <mat-label>Filtrar por estado:</mat-label>
                                    <mat-select  (selectionChange)="changePwValidators($event)">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let wType of statusEntity" [value]="wType.value">
                                            {{wType.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>


                                <mat-form-field class="w-25 ml-4" appearance="outline">
                                    <mat-label>Mostrar por:</mat-label>
                                    <mat-select  (selectionChange)="changeCantValidators($event)">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let wType of cantEntity" [value]="wType.value">
                                            {{wType.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- <input type="text" class="form-control" (keyup)="buscar(txtTermino.value)" #txtTermino  aria-describedby="basic-addon3"  placeholder="Buscar proyecto"> -->
                            </div>

                            <div class="col-12 text-right">
                                <button class="btn btn-primary" (click)="openCreate()" ><i class="fas fa-plus mr-1"> </i> NUEVO</button>&nbsp;
                                <button  class="btn btn-success"  (click)="export()"><i class="fas fa-file-excel mr-2" > </i>EXPORTAR</button>&nbsp;
                            </div>
                        </div>
                </div>



                <div class="card-body">




                    <div class="table-responsive">
                        <br>
                        <table class="table table-bordered">
                            <thead style="background-color: #007BFF; color: #fff; font-weight: lighter;">
                                <tr>
                                    <th>ID</th>
                                    <th>Fecha de creación</th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin **Ref</th>
                                    <th>Costo</th>
                                    <th>Estado</th>
                                    <th class="text-nowrap text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of proyecto">

                                    <td>{{data._id}}</td>
                                    <td>{{data.created | date: 'dd/MM/yyyy   HH:mm:ss'}}</td>
                                    <td>{{data.nombre}}</td>
                                    <td>{{data.descripcion}}</td>
                                    <td>{{data.fecha_inicio | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{data.fecha_fin | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{data.presupuesto}}</td>
                                    <td>{{data.estado}}</td>

                                    <td class="text-nowrap text-center">
                                        <button  class="cursor btn btn-secondary mr-2" (click)="openView(data)"   > <i class="fas fa-info-circle"> </i>  </button> 
                                        <button  class="cursor btn btn-warning mr-2" (click)="openEdit(data)" > <i class="fa fa-edit"> </i>  </button> 
                                        <button  class="cursor btn btn-danger mr-2" (click)="openDelete(data)"   > <i class="fas fa-trash-alt"> </i>  </button> 
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>

                <button  class="btn btn-secondary" (click)="cambiarPagina(-5)"> <i class="fas fa-arrow-left mr-1"> </i> Anteriores</button>
                    &nbsp;
                    <button  class="btn btn-success" (click)="cambiarPagina(5)">Siguientes  <i class="fas fa-arrow-right mr-1"> </i> </button> 

                </div>



            </div>
        </div>
    </div>
</div>