<div class="main-content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-gray" >
                    <div class="row text-center" >
                        <div class="col-12">
                            <span class="letra-cabecera">REPORTES:  Proyectos - Actividades</span>
                        </div>
                    </div>


                </div>


                <div class="card-body">

                    <ngb-tabset>
                        <ngb-tab title="Reporte de proyectos">
                            <ng-template ngbTabContent>
                                <br>
                                    <div class="row">
                                        
                                        <div class="col-2"></div>
                                        <div class="col-8 text-center" >
                                            <p>Indicar el rango de fecha en que se inciaron los proyectos.</p> 
                                            <div class="row">
                                                
                                                <div class="col-6" >
                                                    <mat-form-field class="w-100" appearance="outline" [formGroup]="dateRangeProyecto">
                                                        <mat-label>Fecha de inicio:</mat-label>
                                                        <input matInput datePickerFormat="YYYY/MM/DD" [matDatepicker]="picker3"  formControlName="fecha_inicio">
                                                        <mat-datepicker-toggle matSuffix [for]="picker3" ></mat-datepicker-toggle>
                                                        <mat-datepicker #picker3 ></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                
                                                <div class="col-6" >
                                                    <mat-form-field class="w-100" appearance="outline" [formGroup]="dateRangeProyecto">
                                                        <mat-label>Fecha final:</mat-label>
                                                        <input matInput datePickerFormat="YYYY/MM/DD" [matDatepicker]="picker4"  formControlName="fecha_fin">
                                                        <mat-datepicker-toggle matSuffix [for]="picker4" ></mat-datepicker-toggle>
                                                        <mat-datepicker #picker4 ></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                
                                        </div>
                                        <div class="col-2"></div>
                                    </div>


                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="calcularProyecto()">MOSTRAR REPORTES</button>
                                            <button type="button" class="btn btn-primary" style="margin-right: 10px;"  (click)="actualizarProyecto()">ACTUALIZAR</button>
                                        </div>
                                    </div>


                                    <div class="row text-center" style="margin-top: 20px;">
                                        <div class="col-2"></div>
                                        <div class="col-8 text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>  SV = Variación del cronograma</p>
                                                    <p>  EV = Valor ganado</p>
                                                    <p>  PV = Valor planificado</p>
                                                </div>

                                                <div class="col-6">
                                                    <p>Formula del indicador</p>
                                                    <p>SV = EV - PV</p>
                                                    <p>INDICADOR</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-2"></div>
                                    </div>



                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10">
                                            <div class="table-responsive">
                                                <br>
                                                <table class="table table-bordered">
                                                    <thead style="background-color: #007BFF; color: #fff; font-weight: lighter;">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Fecha inicial</th>
                                                            <th>Proyecto</th>
                                                            <th>Responsable</th>
                                                            <th>Presupuesto</th>
                                                            <th>EV</th>
                                                            <th>PV</th>
                                                            <th>SV</th>
                                                            <th>AC</th>
                                                            <th>CV</th>
                                                            <th>Fecha final</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let data of reporteProyecto">
                                                            <td *ngIf="data.sv">{{data._id}}</td>
                                                            <td *ngIf="data.sv">{{data.fecha_inicio  | date: 'dd/MM/yyyy'}}</td>
                                                            <td *ngIf="data.sv">{{data.nombre}}</td>
                                                            <td *ngIf="data.sv">
                                                                <select name="" id="" [(ngModel)]="data.responsable" style="border: none !important; -webkit-appearance: none;
                                                                -moz-appearance: none;" readonly  aria-disabled="true">
                                                                    <option  *ngFor="let resp of clientex" [value]="resp._id">{{resp.nombres}} {{resp.apellidos}}</option>
                                                                </select>
                                                                <!-- {{data.responsable}} -->
                                                            </td>
                                                            <td *ngIf="data.sv">{{data.presupuesto}}</td>
                                                            <td *ngIf="data.sv">{{data.ev}}</td>
                                                            <td *ngIf="data.sv">{{data.pv}}</td>
                                                            <td *ngIf="data.sv">{{data.sv}}</td>

                                                            <td *ngIf="data.sv">{{data.ac}}</td>
                                                            <td *ngIf="data.sv">{{data.cv}}</td>

                                                            <td *ngIf="data.sv">{{data.fecha_termino | date: 'dd/MM/yyyy'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                            </ng-template>
                        </ngb-tab>







                        
                        <ngb-tab title="Reporte de actividades">
                            <ng-template ngbTabContent>
                                    <br>
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-8 text-center">
                                            <p>Indicar el rango de fecha en que se inciaron las actividades.</p> 
                                            
                                            <div class="row">
                                                <div class="col-6" >
                                                    <mat-form-field class="w-100" appearance="outline" [formGroup]="dateRange">
                                                        <mat-label>Fecha de inicio:</mat-label>
                                                        <input matInput datePickerFormat="YYYY/MM/DD" [matDatepicker]="picker"  formControlName="fecha_inicio">
                                                        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                                                        <mat-datepicker #picker ></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                
                                                <div class="col-6" >
                                                    <mat-form-field class="w-100" appearance="outline" [formGroup]="dateRange">
                                                        <mat-label>Fecha final:</mat-label>
                                                        <input matInput datePickerFormat="YYYY/MM/DD" [matDatepicker]="picker2"  formControlName="fecha_fin">
                                                        <mat-datepicker-toggle matSuffix [for]="picker2" ></mat-datepicker-toggle>
                                                        <mat-datepicker #picker2 ></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                
                                        </div>
                                        <div class="col-2"></div>
                                    </div>


                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="calcular()">MOSTRAR REPORTES</button>
                                            <button type="button" class="btn btn-primary" style="margin-right: 10px;"  (click)="actualizar()">ACTUALIZAR</button>
                                        </div>
                                    </div>


                                    <div class="row text-center" style="margin-top: 20px;">
                                        <div class="col-2"></div>
                                        <div class="col-8 text-center">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p>  SV = Variación del cronograma</p>
                                                    <p>  EV = Valor ganado</p>
                                                    <p>  PV = Valor planificado</p>
                                                </div>

                                                <div class="col-6">
                                                    <p>Formula del indicador</p>
                                                    <p>SV = EV - PV</p>
                                                    <p>INDICADOR</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-2"></div>
                                    </div>


                                    
                                    <div class="row">
                                        <div class="col-1"></div>
                                        <div class="col-10">
                                            <div class="table-responsive">
                                                <br>
                                                <table class="table table-bordered">
                                                    <thead style="background-color: #007BFF; color: #fff; font-weight: lighter;">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Proyecto</th>
                                                            <th>Actividad</th>
                                                            <th>Responsable</th>
                                                            <th>Horas</th>
                                                            <th>Presupuesto</th>

                                                            <th>EV</th>
                                                            <th>PV</th>
                                                            <th>SV</th>

                                                            <th>AC</th>
                                                            <th>CV</th>


                                                            <th>Fecha final</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let data of reporte">
                                                            <td *ngIf="data.sv">{{data._id}}</td>
                                                            <td *ngIf="data.sv">{{data.proyectoNombre}}</td>
                                                            <td *ngIf="data.sv">{{data.trabajo}}</td>
                                                            <td *ngIf="data.sv">{{data.personalNombre}}</td>
                                                            <td *ngIf="data.sv">{{data.horas}}</td>
                                                            <td *ngIf="data.sv">{{data.presupuesto}}</td>

                                                            <td *ngIf="data.sv">{{data.ev}}</td>
                                                            <td *ngIf="data.sv">{{data.pv}}</td>
                                                            <td *ngIf="data.sv">{{data.sv}}</td>

                                                            <td *ngIf="data.sv">{{data.ac}}</td>
                                                            <td *ngIf="data.sv">{{data.cv}}</td>


                                                            <td *ngIf="data.sv">{{data.fecha_fin | date: 'dd/MM/yyyy'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>

                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>







                </div>


            </div>
        </div>
    </div>






    <br> <br>

   
</div>
